# Test:
Docs/test_file.txt

# SDumont Commands:
Docs/sdumont_commands.md

# Turbulence scripts:
Experimental/3d_turbulence_mpi_gpu_experimental.ipynb
Experimental/3d_turbulence_mpi_gpu_experimental_bkp_of_kaggle_version.ipynb
Experimental/3d_turbulence_serial_experimental.ipynb
Experimental/3d_turbulence_cupyx_scipy_experimental.ipynb

# Code backups:
Bkp/3d_turbulence_mpi_gpu_experimental_SD1_21_jul_25.ipynb
Bkp/3D_turbulence_Multi_GPU_NCCL_bkp_SD2_23_jul_2025.py
Bkp/test_mpi4py_sbatch_arquitetura_arm_bkp_SD2_23_jul_2025.slurm
Bkp/3D_turbulence_Multi_GPU_NCCL_versao_que_rodou_no_gdl_scratch.py
Data_analysis/Turbulence_visual_analysis_3D.ipynb

# Big Data files:
Data/metrics_512/velocity_rank_0_t8.npy
Data/metrics_512/velocity_rank_1_t8.npy
Data/metrics_512/velocity_rank_2_t8.npy
Data/metrics_512/velocity_rank_3_t8.npy
Data/metrics_512/velocity_rank_4_t8.npy
Data/metrics_512/velocity_rank_5_t8.npy
Data/metrics_512/velocity_rank_6_t8.npy
Data/metrics_512/velocity_rank_7_t8.npy

Data/metrics_512/vorticity_rank_0_t8.npy
Data/metrics_512/vorticity_rank_1_t8.npy
Data/metrics_512/vorticity_rank_2_t8.npy
Data/metrics_512/vorticity_rank_3_t8.npy
Data/metrics_512/vorticity_rank_4_t8.npy
Data/metrics_512/vorticity_rank_5_t8.npy
Data/metrics_512/vorticity_rank_6_t8.npy
Data/metrics_512/vorticity_rank_7_t8.npy

Data/metrics_256/velocity_field_t8.npy
Data/metrics_256/vorticity_field_t8.npy 

Data/metrics_128/velocity_field_t8.npy
Data/metrics_128/vorticity_field_t8.npy

Data/metrics_64_bkp/velocity_field_t8.npy
Data/metrics_64_bkp/vorticity_field_t8.npy 

Data/metrics_128_bkp/velocity_field_t8.npy
Data/metrics_128_bkp/vorticity_field_t8.npy

Data/metrics_512/vorticity_slice_x0_t8_corrected.npy

Tools/velocity_data.vti
Tools/vorticity_data.vti