# Test:
Docs/test_file.txt

# SDumont Commands:
Docs/sdumont_commands.md

# Turbulence scripts:
Experimental/3d_turbulence_mpi_gpu_experimental.ipynb
Experimental/3d_turbulence_mpi_gpu_experimental_bkp_of_kaggle_version.ipynb